@{
    ViewData["Title"] = "ajude umm felino";
}
<h1>@ViewData["uma causa animal"]</h1>

<h2>
    O combate aos crimes ambientais é parte essencial de uma política de proteção da natureza. A persistência e o aumento do registro de casos de caça, captura e tráfico de animais da fauna silvestre, pesca predatória e de crimes contra a flora, apontam a fragilização e precariedade das ações que o Poder Público deveria implementar em todos os níveis.
    Esse quadro se agrava com as ameaças e investidas criminosas contra a vida das pessoas que, voluntariamente, tentam minimizar essa lacuna criada pela ausência do Estado, denunciando e procurando coibir os crimes ambientais, entre eles a caça.
</h2>
